body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

nav a {
    color: gray;
}

nav {
    display: inline-block;
}

header {
    background-color: black;
    color: gray;
}

    header h2 {
        display: inline-block;
        margin-right: 30px;
    }

header, main {
    padding-left: 75px;
    padding-right: 75px;
}

main {
    margin-bottom: 30px;
}

h1, h2 {
    font-weight: lighter;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

footer {
    border-top: 1px solid lightgray;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 75px;
    margin-right: 75px;
}

li {
    margin: 5px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0px 0px 2px gray;
}

button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px gray;
    border: 1px solid gray;
}

.blue{
    background-color:Highlight;
    color:white;
}

