<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h2>Backend2</h2>
        <nav><a asp-controller="Home" asp-action="Index">Home</a></nav>
        <nav><a asp-controller="Mockups" asp-action="Mockups">Mockups</a></nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
            &copy; 2022 - Backend1
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
