@{
    ViewData["Title"] = "Quiz";
}

<div>
    <h1>Mockups</h1>
    <ul>
        <li><a asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
        <li><a asp-controller="Mockups" asp-action="Result">QuizResult</a></li>
    </ul>
</div>
